h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}

p {
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #e0e0eb;
}

.content {
    max-width: 450px;
    position: relative;
    left: 460px;
    top: 50px;
}

#img1 {
    position: relative;
    bottom: 155px;
}

#img2 {
    position: relative;
    left:1000px;
    bottom:450px;
}

#input {
    float:left;
    position: relative;
    bottom:539px;
    left:460px;
}

#audio {
    float: left;
    position: relative;
    bottom:565px;
    left:70px;
}